//
//  Secrets.xcconfig
//  YappingApp
//
//  Created by Long Vu on 7/5/25.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

DISCORD_WEBHOOK_URL = https://discord.com/api/webhooks/1360257481346912256/om6xn7d2Nhe43_Tyxl8dL2fZLOAGA9smCbkG07m4PHrvNx8kXhebE2gCj694bZ1Z0SkS
